.btn{
    align-items: center;
    justify-content: center;
    background-color: #0379c2;
    color:#FFF;
    cursor: pointer;
    transition: .5s;
    text-align: center;
    height: 32px;
    width: 180px;
    border: black 0.2px solid;
    box-shadow: #3b3b3b 0px 2px;
    border-radius: 10px;
    font-size: 12px;
    margin: 5px;
}

.btn:hover{
    color: #000000;
}
 .btn:active{
    background-color: #0a4f7c;
    box-shadow: #3b3b3b 0px 1px;
    transform: translateY(2px);
}


