.eventos_container{
    width:  1500px;
    padding: 1em;
    flex-direction: row;
    display: flex;
    gap: 2em;
    justify-content: space-around;
    
}

.eventos_container h1{
    margin-bottom:  0.3em;

}


.eventos_container textarea{
    width: 40%;
}

